<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1>Edit Concept</h1>
    <div class="editboxes">
        <form action="/concepts/<%=edit._id%>?_method=put" method="post">
            Concept Name:<input type="text" name="conceptName" value='<%= edit.conceptName %>' /><br/>
            Grammar Forms Used:<input type="text" name="grammar" value='<%= edit.grammar %>' /><br/>
            Explaination of Concept:<input type="text" name="conceptExplained" value='<%= edit.conceptExplained %>' /><br/>
            Example:<input type="text" name="exampleSentence" value='<%= edit.exampleSentence %>' /><br/>
            Example in English:<input type="text" name="sentenceMeaning" value='<%= edit.sentenceMeaning %>' /><br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form> 
        <div class="subcancel">
            <button><a href="/concepts/<%=edit._id%>">Cancel</a> </button>
        </div>
    </div>
</body>
</html>