<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<div class="vocabbody">
    <nav>
        <button class="vocabbutton"><a href="/vocab/<%=edit._id%>">Cancel</a> </button>
    </nav>
    <div class="main vocabmain">
        <div class="editboxes">
            <form action="/vocab/<%=edit._id%>?_method=put" method="post">
            Word:<input type="text" name="word" value='<%= edit.word%>' class="vval" /><br/>
            Kana:<input type="text" name="kana" value='<%= edit.kana %>' class="vval" /><br/>
            Meaning:<input type="text" name="engMeaning" value='<%= edit.engMeaning %>' class="vval" /><br/>
            Part of Speech:<input type="text" name="partOfSpeech" value='<%= edit.partOfSpeech %>' class="vval" /><br/>
            Example:<input type="text" name="exampleSentence" value='<%= edit.exampleSentence %>' class="vval" /><br/>
            Example in English:<input type="text" name="sentenceMeaning" value='<%= edit.sentenceMeaning %>' class="vval" /><br/>
            <input type="submit" name="" value="Change" class="vocabbutton" />
            </form> 
        </div>
    </div>
</body>
</html>