<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="conceptbody">
    <nav>
        <button class="conceptbutton" ><a href="/concepts/<%=edit._id%>">Cancel</a> </button>
    </nav>
    <div class="main conceptmain">
        <div class="editboxes">
            <form action="/concepts/<%=edit._id%>?_method=put" method="post">
            Concept Name:<input type="text" name="conceptName" value='<%= edit.conceptName %>' class="cval" /><br/>
            Grammar Forms Used:<input type="text" name="grammar" value='<%= edit.grammar %>' class="cval" /><br/>
            Explaination of Concept:<input type="text" name="conceptExplaination" value='<%= edit.conceptExplaination %>' class="cval" /><br/>
            Example:<input type="text" name="exampleSentence" value='<%= edit.exampleSentence %>' class="cval" /><br/>
            Example in English:<input type="text" name="sentenceMeaning" value='<%= edit.sentenceMeaning %>' class="cval" /><br/>
            <input type="submit" name="" value="Change" class="conceptbutton" />
            </form> 
        </div>
    </div>
</body>
</html>