<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <nav>
        <button class="back"> <a href="/japanese">Back</a></button>
        <button class="edit"> <a href="/japanese/<%=word._id%>/edit"> Edit Word</a></button>
    </nav>
    <div class="main">
        <h2 class="showcase"><%= word.word%></h2>
        <div class="wordinfo">
            <%= word.kana %> </div>
            <%= word.engMeaning %> 
            (<%= word.partOfSpeech %>) </br>
            <%= word.exampleSentence %> </br>
            <%= word.sentenceMeaning %> </br>
        </div>
    </div>
</body>
</html>