<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body class="conceptbody">
    <nav>
        <button class="back conceptbutton"> <a href="/concepts">Back</a></button>
        <button class="edit conceptbutton"> <a href="/concepts/<%=concept._id%>/edit">Edit Concept</a></button>
    </nav>
    <div class="main conceptmain">
        <h3 class="showcase"><%= concept.conceptName%></h3>
        <div class="conceptinfo">
            Grammar: <%= concept.grammar %> </br>
            Explaination: <%= concept.conceptExplaination%> </br>
            Example Sentence: <%= concept.exampleSentence %> </br>
            (<%= concept.sentenceMeaning %>) </br>
        </div>
    </div>
</body>
</html>