<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body class="vocabbody">
    <nav>
        <button class="back vocabbutton"> <a href="/concepts">Back</a></button>
        <button class="edit vocabbutton"> <a href="/vocab/<%=word._id%>/edit"> Edit Word</a></button>
    </nav>
    <div class="main vocabmain">
        <h3 class="showcase"><%= word.word%></h3>
        <div class="wordinfo">
            Kana: <%= word.kana %> </br>
            Meaning: <%= word.engMeaning %> 
            (<%= word.partOfSpeech %>) </br>
            Example Sentence: <%= word.exampleSentence %> </br>
            (<%= word.sentenceMeaning %>) </br>
        </div>
    </div>
</body>
</html>